@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Bebas Neue';
}

h3 {
    border: 1px solid #CCC;
}


body {
    background-color: #838892;
    width: 900px;
    line-height: 150%;
    margin: 0 auto;

}

h2 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
}

p {
    text-align: justify;
    text-indent: 5px;
    margin: 30px 0;
}

.pair {
    background-color: #FF5850;
}

.impair {
    background-color: #5BBDBF;
}

#beware {
    height: 300px;
}

.skill {
    color: #FF5850;
    font-style: italic;
}

a {
    text-decoration: none;
}

a:visited {
    color: #0088FF;
}

a:hover {
    color: #ff5900;
}

thead {
    background-color: #00AAFF;
}

thead .skill {
    color: #640051;
}

tbody tr:nth-child(odd) {
    background-color: white
}

tr:nth-child(even) {
    background-color: #CCCC
}

table .skill {
    padding: 0 5px;
}

#chuckJ {
    height: 150px;
    float: left;
    margin: 0 5px 0 0;
    clear: both;
}

#beware {
    float: right;
    margin: 0 0 0 5px;
    clear: both;
}

#links {
    bottom: 0;
    padding: 10px;
    position: fixed;
    right: 0;
}

nav {
    text-align: left;
    width: 75%;
    display: flex;
    margin: 0 auto;
    height: 50px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
}

nav > div {
    display: block;
    background-color: #5BBDBF;
    width: 100px;
    height: 50px;
}

nav > div > a {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50%;
    margin: 10px 0 15px 0;
    padding: 0 10px;
    border-left: solid 2px #000;
}

nav > div:first-child a {
    border-left: none;
}

.submenu {
    display: none;
    background-color: #aca;
}

nav > div:hover .submenu {
    display: block;
}

nav div a .puce {
    visibility:hidden;
}
nav div a:hover .puce {
    visibility:visible;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #ffffff;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

article {
    background-color: #CCC;
    width: 60%;
    position: relative;
    display: block;
}

aside {
    position: absolute;
    height: 100%;
    display: block;
    left: 60%;
    width: 35%;
    background-color: #CCC;
}


